body {
  overflow-x: hidden;
}

.wider-than-column {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  @media (hover: hover) and (pointer: fine) {
    left: ~"calc(50% + 5px)" !important;
    width: ~"calc(100vw - 10px)" !important;
  }
}
